<!DOCTYPE HTML>
<html lang="en">
    <head>
        <style>
            table, th, td {
                border: 1px solid black
            }
            td {
                height: 15px;
                width:  15px
            }
            .buttons {
                width: 150px;
                height: 50px;
                background-color: green;
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
                
                window.onload = function(){
                    var x = new Vue({
                        el: "#cellgrid",
                        methods: {
                            advance: function(current_state){
                                fetch('http://localhost:5000/advance', {
                                    method: 'POST',
                                    headers: {
                                        'content-type': 'application/json' 
                                    },
                                    body: JSON.stringify(current_state)
                                }).then(
                                    data => data.json()
                                ).catch(error => console.error(error)
                                ).then(response => this.current_state = response)
                            },
                            toggle_cell: function(row, cell, value){
                                console.log(row + ", " + cell );
                                this.current_state[row][cell] = value === 0 ? 1 : 0; 
                                this.$forceUpdate();
                            },

                        },
                        data: {
                            current_state: {{ state }},
                        } ,
                    
                    });
                };
                
            </script>
    </head>
    <body> 
    <div id="cellgrid">
    <div>
        <table>
           <tr v-for="(row, row_index) in current_state">
                <td v-for="(cell, cell_index) in row" v-bind:style="[cell === 0 ? { 'background-color': 'white'} : { 'background-color': 'black'}]" 
                    v-on:click="toggle_cell(row_index, cell_index, cell)"></td>
            </tr>
        </table>
    </div>
    <div id="advance_button" class="buttons" v-on:click="advance(current_state)">

    </div>
    </div>
    </body>
</html>