<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="/static/js/script.js"></script>
    </head>
    <body> 
    <div id="cellgrid">
        <div id="gridcontainer">
            <table>
                <tr v-for="(row, row_index) in current_state">
                    <td v-for="(cell, cell_index) in row" v-bind:style="[cell === 0 ? inactive_cell : active_cell]" 
                        v-on:click="toggle_cell(row_index, cell_index, cell)"></td>
                </tr>
            </table>
            <button id="startstop_button" class="buttons" v-on:click="advance_switch()">
                <span class="buttonText">Start/stop</span> 
            </button>
            <button id="advance_button" class="buttons" v-on:click="advance_s()">
                <span class="buttonText"> 1 step </span>  
              </button>
            <button id="randomize_button" class="buttons" v-on:click="randomize()">
                <span class="buttonText">Randomize</span>  
            </button>
            <button id="clear_button" class="buttons" v-on:click="clear()">
                <span class="buttonText">Clear</span>  
            </button>
            <div id="blinker" class="buttons" v-bind:style="[flipflop === -1 ? {'background-color':'yellow'} : {'background-color':'red'} ]">
            </div>  
        </div>
    </div>
    </body>
</html>